// /* Styles shared with most views */

html, body {
  height: 100%;
}

#app {
  min-height: 100%;
}

.main {
  padding: 0.6rem;
}

.state-loading {
  opacity: 0.6;
}

.stats {
  text-align: center;
}

.status-bar {
  text-align: center;
  margin-bottom: 0.8em;
}

@import "theme-dark";
