.content {
    margin: 0 12px;
}
.state-loading {
    opacity: 0.6;
}
.status {
    margin-bottom: .8em;
}
.ion-14x {
    font-size: 1.4em;
}

@media (max-width: 600px) {
    .content {
        margin: 0 4px;
    }
}
.navbar a.router-link-exact-active {
    font-weight: bold;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    10% {
        transform: scale(.9);
        opacity: .9;
    }
    20% {
        transform: scale(1);
        opacity: 1;
    }
}

.pulse {
    animation: pulse 4s infinite ease;
}
