#app.theme-dark {
  background-color: #191c23;
  color: #d6d4d0;
}

.theme-dark {
  input[type="text"] {
    color: #d6d4d0;
    background-color: #14171d;
  }
  input[type="text"]::placeholder {
    color: #b6b4b0;
  }

  .navbar {
    background-color: #14171d;

    .checkbox:hover {
      color: #fafafa;
    }
  }
  .navbar-item {
    color: #d6d4d0;
  }
  .navbar-item.is-active {
    color: white;
  }
  .navbar-item.is-active:hover {
    color: #485fc7;
  }
 
  .table, .table th {
    background-color: #14171d;
    color: #d6d4d0;
  }
  .table.is-striped tbody tr:not(.is-selected):nth-child(even) {
    background-color: #252c33;
  }

  .table tbody td {
    border-bottom-color: #3e4b59;
  }
  .table.is-hoverable.is-striped tbody tr:not(.is-selected):hover {
    background-color: #3e4b59;
  }
  .table.is-hoverable.is-striped tbody tr:not(.is-selected):hover:nth-child(even) {
    background-color: #3e4b59;
  }

  .pagination-link,.pagination-previous,.pagination-next {
    color: #d6d4d0;
  }
  .pagination-link:hover,.pagination-previous:hover,.pagination-next:hover {
    color: #dbdbdb;
  }
}
